@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #242527;
}
#container{
    margin: 200px auto;
    width: 60%;
    background-color: #333134;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height: 300px;
}
section{
    height: 100%;
}
.textoCinza{
    color: #494D5E;
}
/*
*/


h1{
    margin-bottom: 15px;
    font-size: 32px;
    text-transform: uppercase;
}

/*
    inputs and buttons:
*/

/*
    input:
*/

#inTexto{
    width: 95%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
}
#inTexto:focus{
    outline: none;
}
#inTexto:hover{
    width: 97%;
    height: 35px;
}
/*
    buttons:
*/

.formBt{
    width: 130px;
    height: 45px;
    border: 3px solid;
    margin: 15px;
    transition: 0.5s;
    background-color: #333134;
}
.formBt:hover, #inTexto:hover{
    box-shadow:
    0px 0.6px 4.6px rgba(0, 0, 0, 0.25),
    0px 1.3px 5.9px rgba(0, 0, 0, 0.18),
    0px 2.5px 6.9px rgba(0, 0, 0, 0.149),
    0px 4.5px 8px rgba(0, 0, 0, 0.125),
    0px 8.4px 9.8px rgba(0, 0, 0, 0.101),
    0px 20px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}
#btCrip{
    border-color: #5d6851;
    color: #5d6851;
}
#btDesc{
    border-color: #CB5128;
    color: #CB5128;
}
#btCrip:hover{
    background-color: #5d6851;
    color: #333134;
}
#btDesc:hover{
    background-color: #CB5128;
    color: #333134;
}

.respTitulo{
    font-size: 20px;
}
.resp{
    background-color: #242527;
}
.btCopy, .fa-copy{
    background-color: #333134;
}
.btCopy{
    transition: 0.5s;
}
.btCopy:hover{
    cursor: pointer;
    font-size: 16px;
}
.btCopy:focus{
    transition: none;
    color: #5d6851;
}
/*
    footer:
*/

.fa-github{
    font-size: 50px;
    transition: 0.5s;
    margin: 15px 0;
}
.fa-github:hover{
    font-size: 60px;
}