*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #2F2F36;
}
.pointer{
    cursor: pointer;
}
#container{
    background-color: rgba(41, 41, 48, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    width: max(280px, 52.972972973%);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}
h1{
    font-size: clamp(1.5em, 4vw, 3em);
}
#inTexto{
    width: 51.020408163%;
    height: 35px;
    text-align: center;
    font-size: clamp(0.8em, 1.5vw, 1em);
    transition: width 0.5s;
    margin: 12px;
}
#inTexto:focus{
    outline: none;
    width: 81.632653061%;
}
#inTexto:hover{
    width: 81.632653061%;
}
.formBt{
    border: 2px solid;
    padding: 12px;
    margin: 5px 5px;
    background-color:   #2F2F36;
    width: 120px;
}
#btCrip{
    color: #55AA7A;
    border-color: #55AA7A;
}
#btDesc{
    color: #C64828;
    border-color: #C64828;
}
#btCrip:hover, #btDesc:hover{
    color: white;
}
#btCrip:hover{
    background-color: #55AA7A;
}
#btDesc:hover{
    background-color: #C64828;
}
#resp{
    font-size: clamp(1em, 1.5vw, 1.3em);
    overflow-wrap: break-word;
    margin: auto;
    width: 90%;
}
#resp{
    font-size: clamp(1.2em, 3vw, 1.5em);
    overflow-wrap: break-word;
    margin: auto;
    width: 90%;
}
footer i{
    margin: 10px auto;
    font-size: clamp(1.5em, 5vw, 2.5em );
    transition: font-size 0.5s;
}
footer i:hover{
    font-size: clamp(1.7em, 5.5vw, 2.7em );
}
.branco{
    color: white;
}